body{
    background-color: #2d2d2d;
}
.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    position: relative;
    left: 0;
    top: 0;
    transition: 0.1s;
}